<!-- 3-why.njk -->
<section class="bg-color" >
  <div class="container-global mx-auto pt-64 pb-64   ">
    <div class="row  align-middle  ">
      <div class="col-xs-12 col-sm-6 front-text  align-middle">
        <div class=" ">
          <div class="vertical-wrap mb-24">
            <div class="vertical-inner">
              <div class="fluid-5-l mb-24  "> {{ whytitle1_title | mdbr | safe }}</div>  
              <div class="fluid-7-r mb-24  "> {{ whytitle1_subtitle | mdbr | safe }}</div>  
              <div class="fluid-9-r  "> {{ whytitle1_description | mdbr | safe }}</div>  
            </div>
          </div>
  
  
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img width="100%" src="/assets/static/images/a_laboral.png" alt="">

      </div>

    </div>
  </div>
</section>