<!-- team_1.njk -->



<div class="container-2 ptr-120">
    <div class="row  text-center pb-64">
        <div class="col-xs-12 mb-24">
            <div class="fluid-9-b ">Nuestro Equipo </div>
            <div class="fluid-5-l ">SOMOS ESPECIALISTAS
            </div>
        </div>
        <div class="col-xs-12">
            <span class="text-16-r">
              Nuestro equipo de profesionales de Abogados laboralistas se encargarán de cualquier problema que tengas, cada uno tiene más de 10 años de experiencia en el sector. Estarás en las mejores manos


            </span>
        </div>
    </div>
</div>
<div class="container-5 pbr-120">
    <div class="row">
        <div class="col-xs-4">
            <img width="100%" src="/assets/static/images/abogado-sevilla_a.jpg" alt="">
            <div class="pt-16">
                <div class="text-14-b">
                  Abogado laboralista

                </div>
                <div class="fluid-9-r">
                  Pedro López

                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <img width="100%" src="/assets/static/images/abogado-sevilla_b.jpg" alt="">
            <div class="pt-16">
                <div class="text-14-b">
                  Consultora Fiscal y Asesora de empresas

                </div>
                <div class="fluid-9-r">
                  Sara Vera

                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <img width="100%" src="/assets/static/images/abogado-sevilla_c.jpg" alt="">
            <div class="pt-16">
                <div class="text-14-b">
                  Consultor Fiscal y Asesor de empresas

                </div>
                <div class="fluid-9-r">
                 Javier Gago

                </div>
            </div>
        </div>
    </div>
</div>